@CHARSET "UTF-8";

.headerstyle {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: left; /* 水平方向の中央揃え */
    height: 75px;
    background-color: lightskyblue;

}

/* 見出しのスタイル */
h2 {
    margin: 0; /* 不要なマージンを取り除く */
    line-height: 1; /* 行の高さを調整 */
    padding-left:30px;
}

.original-border {
  border-radius: 3px;

  border: 3px solid whitesmoke;
}

.loginstyle{
	boder:1px solid whitesmoke;
	padding-left:0;
	padding-right:0;
}

.login-form{
	padding: 0 10%;
}
.footerstyle{
	text-align:center;

}