@CHARSET "UTF-8";
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
footer {

  width: 100%;

}

main{
	/* height:100%; */
	 /*min-height: calc(100vh - 50px);*/
	 flex:1;
}

.headerstyle {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: left; /* 水平方向の中央揃え */
    height: 75px;
    background-color: lightskyblue;
    padding:20px;
}
.headerstyle > :first-child {
	flex-grow:2;}



/* 見出しのスタイル */
h2 {
    margin: 0; /* 不要なマージンを取り除く */
    line-height: 1; /* 行の高さを調整 */
    padding-left:30px;
}

.original-border {
  border-radius: 3px;

  border: 3px solid #cecfca;
}

.loginstyle{
	border:1px solid #cecfca;
	padding-left:0;
	padding-right:0;
}

.login-form{
	padding: 0 10%;
}

.form-group{
	border:3px solid #cecfca;
	border-radius:10px;
	margin:20px 0;
}

.form-group-create{
	border-radius:10px;
	margin:10px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    width:100%;
}

.form-group-create h2 {
    width: 100%;
    text-align: left;
    background-color: gainsboro;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.right-half {
  width:100%;
}

.right-half2{
	width:100%;
}



.responsive-table-seiseki {
    width: 100%;
    margin-top: auto;
    border: 1px solid #cecfca;
}

.responsive-table-seiseki th, .responsive-table-seiseki td {
    padding: 10px;
}

.btn-primary {
    padding: 10px 25px;
}

.pointInput {
    width: 100%;
    box-sizing: border-box;
}

#pointError {
    color: gold;
}


.footerstyle{
	text-align:center;
}

.highlight {
    background-color: lightskyblue;
}
.exampleInputEmail1 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.exampleInputEmail1:focus {
	border:none;
	outline: none;
	background-color:lightskyblue;
}



.kamokucontainer{
	display:flex;

    min-height: calc(100vh - 50px);
	width:70%;

	margin-left:20px;
	margin-top:30px;
}
.kamokucontainer  > :first-child { flex-grow: 2 }
tr{height:50px;}
td{height:50px;}


.kamokucontainer-create{
	display:flex;
	width:90%;
	margin-left:20px;
	margin-top:30px;
	height:100%;
}
.kamokucontainer-logout{

	width:90%;
	height:110%;
	margin-left:20px;
	margin-top:30px;
}
.btn2 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-primary-red {
    color: white;
    background-color: red;
    border-color: red;
}





@media print {
    body * {
        visibility: hidden;
    }
    .printableArea, .printableArea2, .printableArea *, .printableArea2 * {
        visibility: visible;
    }
    .printableArea {
        position: absolute;
        top: 0;
        right: -5%;
        width: 150% !important;
        height: 40%;
        z-index: 1;
    }
    .printableArea2 {
        position: absolute;
        top: 750px;
        right: 20%;
        width: 200% !important;
        height: 50%;
        z-index: 2;
    }
}


 .commenttd {
    position: relative;
}

button.delete-btn {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.commenttd:hover .delete-btn {
    display: block;
}

/* ページネーションスタイル */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pagination a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #666;
    color: white;
    border: 1px solid #666;
}



.responsive-table-kamoku th:nth-child(1), .responsive-table td:nth-child(1) {
            width: 25%;
        }
.responsive-table-kamoku th:nth-child(2), .responsive-table td:nth-child(2) {
            width: 25%;
        }
.responsive-table-kamoku th:nth-child(3), .responsive-table td:nth-child(3) {
            width: 50%;
        }


.responsive-table-gakusei th:nth-child(1), .responsive-table td:nth-child(1) {
            width: 50%;
        }
.responsive-table-gakusei th:nth-child(2), .responsive-table td:nth-child(2) {
            width: 0%;
        }
.responsive-table-gakusei th:nth-child(3), .responsive-table td:nth-child(3) {
            width: 0%;
        }

.responsive-table-seiseki th:nth-child(1), .responsive-table td:nth-child(1) {
            width: 20%;
        }
.responsive-table-seiseki th:nth-child(2), .responsive-table td:nth-child(2) {
            width: 20%;
        }
.responsive-table-seiseki th:nth-child(3), .responsive-table td:nth-child(3) {
            width: 20%;
        }
.responsive-table-seiseki th:nth-child(3), .responsive-table td:nth-child(3) {
            width: 20%;
        }

.right-half th:nth-child(1) , .right-half td:nth-child(1){width:20%}
.right-half th:nth-child(2) , .right-half td:nth-child(2){width:20%}
.right-half th:nth-child(3) , .right-half td:nth-child(3){width:20%}
.right-half th:nth-child(4) , .right-half td:nth-child(4){width:30%}
.right-half th:nth-child(5) , .right-half td:nth-child(5){width:10%}

.right-half2 th:nth-child(1) , .right-half2 td:nth-child(1){width:20%}
.right-half2 th:nth-child(2) , .right-half2 td:nth-child(2){width:20%}
.right-half2 th:nth-child(3) , .right-half2 td:nth-child(3){width:10%}
.right-half2 th:nth-child(4) , .right-half2 td:nth-child(4){width:15%}
.right-half2 th:nth-child(5) , .right-half2 td:nth-child(5){width:15%}
.right-half2 th:nth-child(6) , .right-half2 td:nth-child(6){width:10%}
.right-half2 th:nth-child(7) , .right-half2 td:nth-child(7){width:10%}

